.intro__bg {
  background-color: var(--color-12);
  box-shadow: inset 0 -120px var(--color-0);
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro__content {
  align-self: end;
  padding-bottom: 200px;
}

.intro img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.intro h1 {
  margin-bottom: 32px;
}

.intro p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .intro__bg {
    background-color: var( --color-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--color-0);
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .intro__content {
    padding-bottom: 0;
  }

  .intro h1 {
    margin-bottom: 16px;
  }

  .intro img {
    height: 300px;
    width: 100%;
  }
}
